main.\34 04 section.\34 04 {
  text-align: center;
}

main.\34 04 section.\34 04 img {
  text-align: center;
  height: auto;
  margin: auto;
  width: 400px;
}

main.\34 04 section.\34 04 h1.code {
  font-size: xxx-large;
  color: #13aec6;
  padding: 10px;
  margin: 0;
}

main.\34 04 section.\34 04 p.description {
  color: #13aec6;
  font-size: small;
  margin: 0;
}

@media screen and (min-width: 601px) {
  main.\34 04 section.\34 04 p.inform,
  main.\34 04 section.\34 04 p.home {
    margin: 0 auto 0 auto;
    font-size: x-large;
    color: #13aec6;
    padding: 10px;
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  main.\34 04 section.\34 04 p.inform,
  main.\34 04 section.\34 04 p.home {
    margin: 0 auto 0 auto;
    font-size: x-large;
    color: #13aec6;
    padding: 10px;
    width: 80%;
  }
}


main.\34 04 section.\34 04 button {
  border: 1px solid #2673b9;
  text-decoration: none;
  transition: 0.5s ease;
  background: #f5f5f5;
  padding: 12px 34px;
  color: #2673b9;
  cursor: pointer;
  display: block;
  margin: 10px auto auto auto;
}

main.\34 04 section.\34 04 button:hover {
  border: 5px solid #2673b9;
  transition: 0.5s ease;
  background: #2673b9;
  color: #ffffff;
}
