@media screen and (min-width: 601px) {
  main.about section.mission {
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  main.about section.mission {
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 80%;
  }
}

main.about section.mission h1.title {
  color: #00e8d2;
}

main.about section.mission hr.divider {
  border: 2px solid #13aec6;
  width: 15%;
}

main.about section.mission h1.quote {
  font-style: italic;
  font-size: x-large;
  color: #2673b9;
}

@media screen and (min-width: 601px) {
  main.about section.mission p {
    margin: 40px auto 0px auto;
    font-size: x-large;
    text-align: center;
    font-weight: 550;
    color: #13aec6;
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  main.about section.mission p {
    margin: 40px auto 0px auto;
    font-size: x-large;
    text-align: center;
    font-weight: 550;
    color: #13aec6;
  }
}

main.about section.values {
  text-align: center;
}

main.about section.values h1.title {
  color: #00e8d2;
}

main section.values hr.divider {
  border: 2px solid #13aec6;
  width: 6%;
}

@media screen and (min-width: 601px) {
  main section.values div.rows div.row {
    display: inline-flex;
    width: 80%;
  }

  main section.values div.rows div.row div.columns {
    display: inline-flex;
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  main section.values div.rows div.row div.columns {
    display: inline-flex;
    width: 90%;
  }
}

main section.values div.rows div.row div.columns div.column {
  height: auto;
  width: 80%;
}

main section.values div.rows div.row div.columns div.column h2 {
  font-size: x-large;
  color: #2673b9;
}

main section.values div.rows div.row div.columns div.column p {
  text-align: center;
  font-size: large;
  color: #13aec6;
}

main section.values div.valueGrid div.columns div.svg-wrapper {
  border-color: #13aec6;
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
  display: flex;
  height: 75px;
  width: 75px;
}

main section.values div.valueGrid div.columns svg {
  fill: #13aec6;
  margin: auto;
  height: 50px;
  width: autp;
}

@media screen and (min-width: 601px) {
  main.about section.whoweare {
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  main.about section.whoweare {
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 80%;
  }
}

@media screen and (min-width: 601px) {
  main.about section.whoweare img {
    width: 400px;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  main.about section.whoweare img {
    width: 200px;
    height: auto;
  }
}

main.about section.whoweare h1.title {
  color: #00e8d2;
}

main.about section.whoweare hr.divider {
  border: 2px solid #13aec6;
  width: 10%;
}

main.about section.whoweare p {
  margin: 40px auto 0px auto;
  font-size: x-large;
  text-align: center;
  font-weight: 550;
  color: #13aec6;
  width: 75%;
}
