@media screen and (min-width: 601px) {
  main.blog section.comingSoon {
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  main.blog section.comingSoon {
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 80%;
  }
}

main.blog section.comingSoon h1.title {
  font-size: xx-large;
  color: #00e8d2;
}

main.blog section.comingSoon hr.divider {
  border: 2px solid #13aec6;
  width: 15%;
}

main.blog section.comingSoon h2.description {
  font-size: x-large;
  color: #2673b9;
}
