@media screen and (min-width: 601px) {
  main.promo section.contactForm p {
    margin: 50px auto 0px auto;
    font-size: x-large;
    text-align: center;
    color: #2673b8;
    padding: 10px;
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  main.promo section.contactForm p {
    margin: 50px auto 0px auto;
    font-size: x-large;
    text-align: center;
    color: #2673b8;
    padding: 10px;
    width: 80%;
  }
}
