@media screen and (min-width: 601px) {
  main.testimonials section.reviews h1.title {
    margin: 50px auto 0px auto;
    text-align: center;
    color: #00e8d2;
    padding: 10px;
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  main.testimonials section.reviews h1.title {
    margin: 50px auto 0px auto;
    text-align: center;
    color: #00e8d2;
    padding: 10px;
    width: 80%;
  }
}

main.testimonials section.reviews hr.divider {
  border: 2px solid #13aec6;
  width: 6%;
}

main.testimonials section.reviews div.reviews {
  margin: 20px auto 0 auto;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 601px) {
  main.testimonials section.reviews div.reviews ul.testimonials {
    position: relative;
    list-style: none;
    height: 200px;
    padding: 0;
    margin: 0;
  }

  main.testimonials section.reviews div.reviews ul.testimonials li.testimonial {
    vertical-align: middle;
    display: table-cell;
    position: relative;
    text-align: center;
    height: inherit;
    width: 700px;
    float: left;
    padding: 0;
    bottom: 0;
    top: 0;
  }

  main
    section.reviews
    div.reviews
    ul.testimonials
    li.testimonial
    div.testimonial {
    justify-content: center;
    flex-direction: column;
    vertical-align: middle;
    align-content: center;
    font-size: x-large;
    position: absolute;
    text-align: center;
    color: #2673b9;
    display: flex;
    height: 200px;
    margin: auto;
    width: 500px;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  main.testimonials section.reviews div.reviews ul.testimonials {
    position: relative;
    list-style: none;
    height: 600px;
    padding: 0;
    margin: 0;
  }

  main.testimonials section.reviews div.reviews ul.testimonials li.testimonial {
    vertical-align: middle;
    display: table-cell;
    position: relative;
    text-align: center;
    height: inherit;
    width: 300px;
    float: left;
    padding: 0;
    bottom: 0;
    top: 0;
  }

  main
    section.reviews
    div.reviews
    ul.testimonials
    li.testimonial
    div.testimonial {
    justify-content: center;
    flex-direction: column;
    vertical-align: middle;
    align-content: center;
    font-size: x-large;
    position: absolute;
    text-align: center;
    color: #2673b9;
    display: flex;
    height: 200px;
    margin: auto;
    width: 200px;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
}

main.testimonials section.reviews div.reviews a.control_prev,
main.testimonials section.reviews div.reviews a.control_next {
  text-decoration: none;
  position: absolute;
  background: #f5f5f5;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  color: #2a2a2a;
  display: block;
  padding: 4% 3%;
  height: auto;
  opacity: 0.8;
  z-index: 999;
  width: auto;
  top: 40%;
}

main.testimonials section.reviews div.reviews a.control_prev {
  border-radius: 0 2px 2px 0;
}

main.testimonials section.reviews div.reviews a.control_next {
  border-radius: 2px 0 0 2px;
  right: 0;
}
